body{
    background-color: aliceblue;
}
h1{
    color: gold;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}
.in{
    color: aqua;
    margin-left: 10px;
    margin-right: 10px;
border: 2px solid;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px bolder;
    background-color: tomato;
    color: white;
}
.out{
    color: aqua;
    margin-left: 10px;
    margin-right: 10px;
border: 2px solid;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px bolder;
    background-color: tomato;
    color: white;
}

p{
    border: 2px solid;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px bolder;
    background-color: blue;
    color: white;
}